p, h1, h2, h3 {
    font-family: 'Malaga Bold', Arial, sans-serif; /* Primary font */
}

p {
    margin-bottom: 20px;
    font-family: 'Malaga Italic', Arial, sans-serif; /* Secondary font */
}

h2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
}
